pre{
    line-height: 20px;
    font-size: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px 10px;
    background: #1E1E1E;
    color: #fff;
    code{
        font-family: SFMono-Regular,Consolas,"Liberation Mono",Menlo,Courier,monospace;
    }
    .hljs-keyword, .hljs-selector-tag, .hljs-subst{
        color: #5288f5;
        font-weight: bold;
    }
    .hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr{
        color: #008080;
    }
    .hljs-regexp, .hljs-link {
        color: rgb(6, 255, 255);
    }
    .hljs-comment, .hljs-quote {
        color: #5c7003;
    }    
    .hljs-string, .hljs-doctag{
        color: rgb(240, 86, 124);
    }
    .hljs-built_in, .hljs-builtin-name {
        color: #139fce;
    }
}  