.yk-markdown{
    pre{
        line-height: 20px;
        font-size: 12px;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 5px 10px;
        background: #1E1E1E;
        color: #fff;
        code{
            font-family: SFMono-Regular,Consolas,"Liberation Mono",Menlo,Courier,monospace;
        }
        .hljs-keyword, .hljs-selector-tag, .hljs-subst{
            color: #5288f5;
            font-weight: bold;
        }
        .hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr{
            color: #008080;
        }
        .hljs-regexp, .hljs-link {
            color: rgb(6, 255, 255);
        }
        .hljs-comment, .hljs-quote {
            color: #5c7003;
        }    
        .hljs-string, .hljs-doctag{
            color: rgb(240, 86, 124);
        }
        .hljs-built_in, .hljs-builtin-name {
            color: #139fce;
        }
    }
    
    table{
        width: 100%;
        --border-color: #abcdef;
        border-collapse:collapse;
        th{
            border: 1px solid var(--border-color);
            padding: 5px;
        }
        td{
            padding: 5px;
            border: 1px solid var(--border-color);
        }
        tr{
            &:nth-child(2n){
                background: #dfebf7;
            }        
        }
    }


    video{
        width: 100% !important;
        max-height: 680px !important;
        background: #000;
    }
}
